@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> hello user, this is sample project for the e-commerce shop. 
        MVC allows to create interactive application. There also will be added api.
    </h1>
</div>
